[Unit]
Description=Immich Redis

[Container]
#AutoUpdate=registry
Network=immich.network
HostName=redis
Image=docker.io/valkey/valkey:8-bookworm
HealthCmd=redis-cli ping || exit 1

[Service]
TimeoutStartSec=900
