[Unit]
Description=Immich Machine Learning

[Container]
AutoUpdate=registry
Network=immich.network
Image=ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION}
Volume=immich-model-cache:/cache

[Service]
TimeoutStartSec=900
