[Unit]
Description=Immich Server

[Container]
#AutoUpdate=registry
Pod=immich.pod
Image=ghcr.io/immich-app/immich-server:${IMMICH_VERSION}
Volume=${UPLOAD_LOCATION}:/data:z
Volume=/etc/localtime:/etc/localtime:ro
Environment=TZ=${TZ}
Environment=DB_PASSWORD=${DB_PASSWORD}
Environment=DB_USERNAME=postgres
Environment=DB_DATABASE_NAME=immich
Environment=DB_HOSTNAME=localhost
Environment=REDIS_HOSTNAME=localhost
#AddDevice=/dev/dri

[Service]
TimeoutStartSec=900
