[Unit]
Description=Immich Redis

[Container]
AutoUpdate=registry
Network=immich.network
Image=docker.io/valkey/valkey:8-bookworm@sha256:facc1d2c3462975c34e10fccb167bfa92b0e0dbd992fc282c29a61c3243afb11
HealthCmd=redis-cli ping || exit 1

[Service]
TimeoutStartSec=900
