[Unit]
Description=Immich Redis

[Container]
#AutoUpdate=registry
Pod=immich.pod
Image=docker.io/valkey/valkey:9
HealthCmd=redis-cli ping | grep -q PONG || exit 1

# persist queue
#Volume=immich-valkey:/data

[Service]
TimeoutStartSec=900
